[submodule "external/OpenAL"]
	path = external/OpenAL
	url = https://github.com/kcat/openal-soft.git
[submodule "external/ogg"]
	path = external/ogg
	url = https://github.com/xiph/ogg.git
[submodule "external/vorbis"]
	path = external/vorbis
	url = https://github.com/xiph/vorbis.git
