# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.obj
Debug/HLMV.ilk
*.exe
Debug/HLMV.tlog/CL.command.1.tlog
*.tlog
Debug/vc140.idb
*.pdb
*.mdl
*.sdf
Debug/HLMV.log
*.opendb
*.db
*.suo
*.dll
changes.txt
*.log
*.idb
uvmap.bmp
external/GLEW/include/GL/glew.h
external/GLEW/include/GL/glxew.h
external/GLEW/lib/glew32.lib
external/GLEW/include/GL/wglew.h
external/FMOD/include/fmod.h
external/FMOD/include/fmod.hpp
external/FMOD/include/fmod_codec.h
external/FMOD/lib/fmodex_vc.lib
external/FMOD/include/fmod_dsp.h
external/FMOD/include/fmod_errors.h
external/FMOD/include/fmod_memoryinfo.h
external/FMOD/include/fmod_output.h
