# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.obj
Debug/HLMV.ilk
*.exe
Debug/HLMV.tlog/CL.command.1.tlog
*.tlog
Debug/vc140.idb
*.pdb
*.mdl
*.sdf
Debug/HLMV.log
*.opendb
*.db
*.suo
*.log
*.idb
uvmap.bmp
external/Angelscript
external/GLEW
external/wxWidgets
*.ilk
*.user
*.bmp
changes.txt
bin/HLMVSettings.txt
*.iobj
*.ipdb
*.res
msw_14/Release/RCa37524
msw_14/Release/RCa37624
*.exp
*.lastcodeanalysissucceeded
*.nativecodeanalysis.all.xml
*.nativecodeanalysis.xml
*.aps
bin/SpriteViewerSettings.txt
bin/sprifile.txt

#CMake build directories
bin_*/*
