# Don't include any files meant to be used for installer creation
HalfLifeAssetManagerInstaller.exe
packages/SamVanheer.HalfLifeAssetManager/data/*
packages/SamVanheer.HalfLifeAssetManager/data/manual/*
packages/SamVanheer.HalfLifeAssetManager/data/redist/*

# Don't try to include generated installer files
HalfLifeAssetManagerPortable.rar
